#searchbar{
  padding-top: 15px;
  padding-bottom: 15px;
  background: #0E9EDB;

  input {
    padding-top: 10px;    //inputların ölçüsü üçün padding verilib
    padding-bottom: 10px;
    width: 100%;    //inputun ölçünü(paddingləri) götürməsi üçün və bütün columnu tutması üçün hər ikisi 100%
    height: 100%;
  }
  input[name='submit']{
    padding-bottom: 8px !important; // Search iconu problem yaratdığı üçün padding aşağı salınıb.
    background: #48C1F3;
    border: 0;
    font-family: FontAwesome;  // inputa fontawesome əlavə etmək üçün font family verilib. search-icon: &#xf002;
    color: white;
    transition: all .3s ease;
  }

  //INPUT ROWS START
  .row{
    div:nth-child(1){ // Açar söz inputu
      padding-left: 0;
      padding-right: 0;
      input{
        border-radius: 0;
      }
    }
    div:nth-child(2){  // Şəhər / Region inputu
      padding-left: 0;
      padding-right: 0;
      input{
        border-radius: 0;
      }
    }
    div:nth-child(3){ // Kateqoriya inputu
      padding-left: 0;
      padding-right: 0;
      input{
        border-radius: 0;
      }
    }
    div:nth-child(4){  // Submit button (search)
      padding-left: 0;
      padding-right: 0;
      input{
        border-radius: 0;
      }
    }
    //INPUT ROWS END
  }
}
#searchBoxDrag{
    top:7%;
    left: 2%;
    width: 240px;
    height: 300px;
    background-color:rgba(52,73,94,0.9);
    z-index: 999;
    position: absolute;
    color: #efefef;
    ul{
        clear: both;
        padding-left: 25px;
        li{
            list-style: none;
            padding-top: 17px;
            select{
                border:0px;
                width: 180px;
                height: 35px;
                color: grey;
            }
            label{
                margin-bottom: 0px;
            }
        }
    }
    .infopart{
        display: none;
    }
    #moveButton, #searchButton, #infoButton{
        padding: 8px 0 8px 15px;
        width:60px;
        height:45px;
        background-color:#28353d;
        float: left;
    }
    #moveButton{
        cursor: move;
    }
    #searchButton{
        background: rgba(52,73,94,0.9);
        background: transparent;
    }
    #infoButton{
        padding: 8px 0 8px 25px;
    }
    p{
        padding: 10px;
        clear: both;
    }
}
// Map styles
#googlemap{
  iframe{
    width: 100%;
    height: 400px;
  }
}
